{% extends "blog/base.html" %}
{% block content %}

<section>
  <br>
  <h2 style="text-align:center">About Us</h2>
<br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/media/profile_pics/default.png" alt="idan"
             width="200" height="200">
      <div class="about-container" >
        <h2>Communication LTD</h2>
        <h5><p class="title">Communication & Cellular Buisness</p></h5>
        <p>Communication LTD is one of the first communication groups established in Israel.<br>Since its establishment as a company that markets mobile phones, Cellcom has expanded and now offers a variety of other services, such as landline telephony, internet, television, international telephony and more, all of these in addition to cellular communication of course.<br>
        Communication LTD is the provider of communication services for a number of organizations and entities, including various banks, the Aerospace Industry, the Strauss Group and the IDF.</p>
        <h5><p>Contact US: Noreply@communications.com</p></h5>
        <h5><p>Phone: +972- (54) 1234 567</p></h5>
        <br><br><br><br><br><br><br>
      </div>
    </div>
  </div>

  </div>
</section>

{% endblock content %}
